<div class="container">
  <form class="form">
    <p class="title">Sign In</p>
    <p class="message">Signin If you already register!</p>
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email or Number</span>
    </label>

    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>
    <label>
    <button class="submit">Sign In</button>
    <p class="signin">If you are not register ? <button class="onclick" routerLink="/sign-up">Register</button> </p>
    </label>
 </form>
</div>
